<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#"><strong>Thinking Out Loud</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/articles">Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ideas">Ideas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/auther">Authers</a>
      </li>
    </ul>
    <form *ngIf="!loggedin" align="right" #f="ngForm" name="loginForm" (ngSubmit)="authenticate(f.value,f.valid);" novalidate class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" id="Username" name="Username" [(ngModel)]="user.Username" #Username="ngModel" placeholder="username" aria-label="username">
      <input class="form-control mr-sm-2" type="password" id="Password" name="Password" placeholder="password" [(ngModel)]="user.Password" #Password="ngModel" aria-label="password">
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
        <a class="btn btn-success my-2 my-sm-0" routerLink="/registration">Join Us</a>
      </div>
    </form>
    <div *ngIf="loggedin" class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <button class="btn btn-outline-info my-2 my-sm-0">{{Username}}</button>
      <button class="btn btn-info my-2 my-sm-0" (click)="logout();">LOGOUT</button>
    </div>
  </div>
</nav>