<div class="container-fluid">
  <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-3">{{title}}</h1>
          <p class="lead">
            {{subTitle}}
          </p>
        </div>
  </div>
  <div class="card" *ngFor="let idea of Ideas">
    <div class="card-body">
      <div class="card-title">
        <div class="row">
          <div class="col-md-10">
              <h4 style="color:darkcyan;">{{idea.thought}}</h4>
          </div>
          <div class="col-md-2">
              <h4 style="color:slateblue;">{{idea.category}}</h4>
          </div>
        </div>
      </div>
      <p>
        {{idea.context}}
      </p>
    </div>
    <div class="card-footer">
      {{idea.auther.name}}
    </div>
  </div>
</div>