<div class="container-fluid">
  <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-3">{{title}}</h1>
          <p class="lead">
            {{subTitle}}
          </p>
        </div>
  </div>
  <ngb-accordion [closeOthers]="true" activeIds="static-1" #acc="ngbAccordion">
    <ngb-panel id="autherTables">
        <ng-template ngbPanelTitle>
            <span>Authers</span>
          </ng-template>
      <ng-template ngbPanelContent>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Profession</th>
                      <th>age</th>
                    </tr>
                  </thead>
                  <tbody >
                    <tr *ngFor="let auther of Authers" (click)="openAccordion(auther); acc.open('autherForm');">
                      <td>{{auther.name}}</td>
                      <td>{{auther.User.email}}</td>
                      <td>{{auther.profession}}</td>
                      <td>{{auther.age}}</td>
                    </tr>
                  </tbody>
                </table>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="autherForm">
      <ng-template ngbPanelTitle>
        <span>Add/Update Auther</span>
      </ng-template>
      <ng-template ngbPanelContent>
          <div class="card">
            <div class="card-body">
                <form #f="ngForm" (ngSubmit)="save(f.value,f.valid)" name="autherForm" novalidate>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="Auther.name" #name="ngModel" required minlength="12" maxlength="20">
                          <div *ngIf="name.invalid && (name.touched || name.dirty)" class="alert alert-danger">
                            <div *ngIf="name.errors.required">
                              Your name is important.
                            </div>
                            <div *ngIf="name.errors.minlength || name.errors.maxlength">
                                Your profession should be between 12-20 characters!
                            </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="profession">Profession</label>
                          <input type="text" class="form-control" id="profession" name="profession" [(ngModel)]="Auther.profession" #profession="ngModel" required minlength="4" maxlength="15">
                          <div *ngIf="profession.invalid && (profession.touched || profession.dirty)" class="alert alert-danger">
                            <div *ngIf="profession.errors.required">
                              Your profession is important.
                            </div>
                            <div *ngIf="profession.errors.minlength">
                                Your profession should be between 4-15 characters!
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                          <label for="age">Age</label>
                          <input type="number" class="form-control" id="age"  [(ngModel)]="Auther.age" name="age" #age="ngModel" required min="18">
                          <div *ngIf="age.invalid && (age.touched || age.dirty)" class="alert alert-danger">
                            <div *ngIf="age.errors.required">
                              How old are you.
                            </div>
                            <div *ngIf="age.errors.min">
                                You should atleast 18yrs old.
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                            <label for="user">User</label>
                            <select class="form-control"  name="User" id="User" [(ngModel)]="Auther.User" #User="ngModel" required>
                                <option *ngFor="let user of Users" value="{{user._id}}" (click)="showUser(user);" >{{user.username}}</option>
                            </select>
                        </div>
                    </div>
                  </div>
                  <div class="row">
                     <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-control" type="radio" name="gender" id="inlineRadio1" value="male" [(ngModel)]="Auther.gender" #gender="ngModel">
                                <label class="form-check-label" for="genderMale">Male</label>
                              </div>
                              <div class="form-check">
                                  <input class="form-control" type="radio" name="gender" id="inlineRadio2" value="female" [(ngModel)]="Auther.gender" #gender="ngModel">
                                  <label class="form-check-label" for="genderFemale">Female</label>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3 offset-md-9">
                      <button type="submit" class="btn btn-primary mb-2">Confirm</button>
                    </div>
                  </div>
                </form>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
