
<div class ="container" style="color:snow;margin-top: 80px;">
  <h3>PROFILE PAGE</h3>
  <div class="row"> 
    <div class="col-md-6">
       <h4> Username : {{Auther.User.username}}</h4>
    </div>
    <div class="col-md-6">
      <h4> Email : {{Auther.User.email}}</h4>
    </div>
  </div>
  <div class="row">
    <form name="roleForm" (ngSubmit)="save(roleForm.value,roleForm.valid);" #roleForm="ngForm" no-validate>
      <div class="col-md-12 form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" [(ngModel)]="Auther.name" #name="ngModel" class="form-control" required>
      </div>
      <div class="col-md-12 form-group">
          <label for="profession">Profession</label>
          <input type="text" id="profession" name="profession" [(ngModel)]="Auther.profession" #profession="ngModel" class="form-control" required>
      </div>
      <div class="col-md-12 form-group">
          <label for="age">Age</label>
          <input type="number" id="age" name="age" [(ngModel)]="Auther.age" #age="ngModel" class="form-control" required>
      </div>
      <div class="col-md-12 form-group">
          <label>Gender</label>
          <label for="genderMale">Male</label>
          <input type="radio" id="genderMale" name="gender" value="Male" [(ngModel)]="Auther.gender" #gender="ngModel" class="form-control" required>

          <label for="genderMale">Male</label>
          <input type="radio" id="genderFemale" name="gender" value="Female" [(ngModel)]="Auther.gender" #gender="ngModel" class="form-control" required>
      </div>
      <div class="col-md-12">
        <button type="button" (ngClick)="back();" class="btn btn-secondary">Back</button>
        <button type="submit" [disabled]="!roleForm.valid" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>