<div class="container-fluid" >
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-3">{{title}}</h1>
          <p class="lead">
            {{subTitle}}
          </p>
        </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>User Data</h3>
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Username</th>
                <th>Email</th>
                <th colspan="2" align="center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of Users">
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>
                  <a (click)="updateUser(user)" style="color:darkgreen;">Update</a>
                </td>
                <td>
                    <a (click)="deleteUser(user)" style="color:red;">Delete</a>
                  </td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>
